.table{
    &-indicator{
        font-size: 2rem;
        font-weight: lighter;
        color: $lime-green;
        text-transform: uppercase;
    }
    width: 80%;
    border: 1px $white solid;

    & thead{
        font-size: 1.8rem;
        color: $gray;
    }

    & td{
        padding: 1rem;
        background-color: white;
        font-size: 1.6rem;
        color: $gray;
    }
    &__header{
        background-color: $lime-green !important;
        text-transform: uppercase;
    }
}